<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-0">
	<div class="container">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toogle="collapse" data-bs-target="#navabrSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a routerLinkActive="active" routerLink="/home" class="nav-link active" aria-current="page"><i class="fa fa-home"></i>HOME</a>
				</li>
				<li class="nav-item">
					<a routerLinkActive="active" routerLink="/about-us" class="nav-link smooth">ABOUT US</a>
				</li>
				<li class="nav-item">
					<a routerLinkActive="active" routerLink="/contact" class="nav-link smooth">CONTACT</a>
				</li>
				<li class="nav-item">
					<a routerLinkActive="active" routerLink="/products" class="nav-link smooth">PRODUCT</a>
				</li>
				<li class="nav-item">
					<a routerLinkActive="active" routerLink="/blogs" class="nav-link smooth">BLOG</a>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-cogs d-lg-none d-xl-none"> </i>
						CMR
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a routerLinkActive="active" routerLink="/login" class="dropdown-item">LOGIN</a></li><hr>
						<li><a routerLinkActive="active" routerLink="/register" class="dropdown-item">REGISTER</a></li><hr>
						<li><a routerLinkActive="active" routerLink="/gallery" class="dropdown-item">GALLERY</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a routerLinkActive="active" href="#" class="dropdown-item">Videos</a></li>
					</ul>
				</li>
				<li class="nav-item"><a routerLinkActive="active" href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">Disanabled</a></li>
			</ul>
			<form class="d-flex">
				<input type="search" name="search" class="form-control me-2" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
	
</nav>
-->

<nav class="navbar">
	<a href="" class="logo">ACTIVE</a>
	<div class="nav-links">
		<ul>
			<li><a routerLinkActive="active" routerLink="/home">	HOME</a></li>
			<li><a routerLinkActive="active" routerLink="/contact">	CONTACT</a></li>
			<li><a routerLinkActive="active" routerLink="/blogs">	BLOG</a></li>
			<li><a routerLinkActive="active" routerLink="/products">	PRODUCTS</a></li>
			<li><a routerLinkActive="active" routerLink="/about-us">	ABOUT-US</a></li>
			<li class="dropbtn">
					<a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-cogs d-lg-none d-xl-none"> </i>
						CMR
					</a>
					<div class="dropd-content">
						<a routerLinkActive="active" routerLink="/login" class="dropdown-item">LOGIN</a><hr>
						<a routerLinkActive="active" routerLink="/register" class="dropdown-item">REGISTER</a><hr>
						<a routerLinkActive="active" routerLink="/gallery" class="dropdown-item">GALLERY</a>
						<hr class="dropdown-divider">
						<a routerLinkActive="active" routerLink="/videos" class="dropdown-item">VIDEOS</a>
					</div>
				</li>
				
			<form class="d-flex">
				<input type="search" name="search" class="form-control me-2" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</ul>
	</div>
</nav>