<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-0">
	<div class="container">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toogle="collapse" data-bs-target="#navabrSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a routerLinkActive="active" routerLink="/home" class="nav-link active" aria-current="page"><i class="fa fa-home"></i>Home</a>
				</li>
				<li class="nav-item">
					<a routerLinkActive="active" routerLink="/about-us" class="nav-link smooth">About-Us</a>
				</li>
				<li class="nav-item">
					<a routerLinkActive="active" routerLink="/contact" class="nav-link smooth">Contact</a>
				</li>
				<li class="nav-item">
					<a routerLinkActive="active" routerLink="/products" class="nav-link smooth">Product</a>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-cogs d-lg-none d-xl-none"> </i>
						Dropdown
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a routerLinkActive="active" routerLink="/login" class="dropdown-item">Login</a></li><hr>
						<li><a routerLinkActive="active" class="dropdown-item">Register</a></li><hr>
						<li><a routerLinkActive="active" class="dropdown-item">Gallery</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a routerLinkActive="active" href="#" class="dropdown-item">Videos</a></li>
					</ul>
				</li>
				<li class="nav-item"><a routerLinkActive="active" href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">Disanabled</a></li>
			</ul>
			<form class="d-flex">
				<input type="search" name="search" class="form-control me-2" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
	
</nav>