<section>
	<h1>BLOG PAGE</h1>

	<div class="bpimage">
		<div class="bpimages">
			<div class="appImage"><img src="assets/img/6.jpg"></div>
			<div class="appInfo">
					<div class="info">
						<div><i class="fa fa-triangle">info1</i>:"info".</div>
						<div><i class="fa fa-triangle">Publsihed Date</i>:"info".</div>
					</div>
				<div class="msg">
					<h2>Title/header</h2>
					<p>this is infor details this is infor details this is infor details this is infor details this is infor details</p>
				</div>
				<button class="btn" type="button" routerLink="./">View</button>
			</div>
		</div><br>

		<div class="bpimages">
			<div class="appImage"><img src="assets/img/6.jpg"></div>
			<div class="appInfo">
					<div class="info">
						<div><i class="fa fa-triangle">info1</i>:"info".</div>
						<div><i class="fa fa-triangle">Published Date</i>:"info".</div>
					</div>
				<div class="msg">
					<h2>Title/header</h2>
					<p>this is infor details this is infor details this is infor details this is infor details this is infor details</p>
				</div>
				<button class="btn" type="button" routerLink="./">View</button>
			</div>
		</div><br>

		<div class="bpimages">
			<div class="appImage"><img src="assets/img/6.jpg"></div>
			<div class="appInfo">
					<div class="info">
						<div><i class="fa fa-triangle">info1</i>:"info".</div>
						<div><i class="fa fa-triangle">Published Date</i>:"info".</div>
					</div>
				<div class="msg">
					<h2>Title/header</h2>
					<p>this is infor details this is infor details this is infor details this is infor details this is infor details this is infor details this is infor details</p>
				</div>
				<button class="btn" type="button" routerLink="./">View</button>
			</div>
		</div><br>
	</div>


	<div class="moredet">
		<h2>More</h2>
		<div>
			<h4>Recent Post</h4>
			<div></div>
		</div>
		<div>
			<h4>title</h4>

		</div>
		<div>
			<h4>title4</h4>
			<ng-template let-blog>
				<div class="p-col-12">
            <div class="blog-list-item">
              <img [src]="blogs.imageUrl" [alt]="blog.title" />
              <div class="blog-list-detail">
                <div class="blog-name">{{blogs.title}}</div>
                <div class="blig-item">

                  <article>published Date: {{blogs.createDate | date:'fullDate' }}</article>

                  <!-- here is to display the tooltip message on top of the page -->

                  <!--<h4>
                    <i class="pi pi-comments" pTooltip="Number of Comments" tooltipPosition="top"></i>
                    {{blogs.comments.length}}</h4>-->

                </div>
                <div class="blog-description">{{blogs.content}}</div>
                <hr>

                <button type="button" label="Public"
                  class="p-m-2 p-button-raised-sm p-button-rounded">&nbsp;<i
                    class="pi pi-globe"></i>&nbsp;</button>&nbsp;

                <button routerLink="./{{blog.id}}" pButton type="button" label="Lire plus..."
                  class="p-m-2 p-button-raised-sm p-button-rounded"><i class="pi pi-right"></i>&nbsp;</button>

              </div>

            </div>
          </div>
			</ng-template>
		</div>
	</div>
</section>