<section>
	<h1>BLOG PAGE</h1>
	<div class="bpimage">
		<div class="bpimages">
			<div class="appImage"><img src="assets/img/6.jpg"></div>
			<div class="appInfo">
					<div class="info">
						<div><i class="fa fa-triangle">info1</i>:"info".</div>
						<div><i class="fa fa-triangle">Publsihed Date</i>:"info".</div>
					</div>
				<div class="msg">
					<h2>Title/header</h2>
					<p>this is infor details this is infor details this is infor details this is infor details this is infor details</p>
				</div>
				<button class="btn" type="button" routerLink="./">View</button>
			</div>
		</div><br>

		<div class="bpimages">
			<div class="appImage"><img src="assets/img/6.jpg"></div>
			<div class="appInfo">
					<div class="info">
						<div><i class="fa fa-triangle">info1</i>:"info".</div>
						<div><i class="fa fa-triangle">Published Date</i>:"info".</div>
					</div>
				<div class="msg">
					<h2>Title/header</h2>
					<p>this is infor details this is infor details this is infor details this is infor details this is infor details</p>
				</div>
				<button class="btn" type="button" routerLink="./">View</button>
			</div>
		</div><br>

		<div class="bpimages">
			<div class="appImage"><img src="assets/img/6.jpg"></div>
			<div class="appInfo">
					<div class="info">
						<div><i class="fa fa-triangle">info1</i>:"info".</div>
						<div><i class="fa fa-triangle">Published Date</i>:"info".</div>
					</div>
				<div class="msg">
					<h2>Title/header</h2>
					<p>this is infor details this is infor details this is infor details this is infor details this is infor details this is infor details this is infor details</p>
				</div>
				<button class="btn" type="button" routerLink="./">View</button>
			</div>
		</div><br>
	</div>


	<div class="moredet">
		<h2>More</h2>
		<div>
			<h4>title</h4>
		</div>
		<div>
			<h4>title</h4>

		</div>
		<div>
			<h4>title</h4>
		</div>
	</div>
</section>