<div class="container">
  <div class="row imageClass">
    <div class="col">   
      <h3>Apprendre a nous connnaitre!</h3>
      <p>
        Il faut se connaitre pour faire les choix qui nous rendront heureux mais comment s'y prendre? Quand on n'a pas encore construit sa personnalite, l'exercise est delicat mais il vaut pourtant la paine d'etre tente. Careactere, aptitudes, valeurs, motivations.... Des pistes pour partir a la decouverte de vous-meme.
      
      <br>
      
        Une fois que vous avez cerne votre caratere ( example: original, reveur, sur de soie), vous pouvez vous demander quels types de metiers demandent ces qualites. Attention: en
        general, il y a plusieurs types de metiers possibles pour chaque caratere, et c'est tant mieux.
      
      <br> 
      
        <h2>----Idrice24 TEAM</h2>
      


    </div>
    <div class="col">
      <picture>
        <source srcset="assets/img/team1.jpg" type="image/svg+xml">
        <img src="assets/img/team1.jpg" class="img-fluid img-thumbnail imgClass" alt="about">
      </picture>
      
    </div>
    
  </div>
</div>