<section class="about"></section>
<section class="about">
  <div class="about-1">
    <h1>ABOUT US</h1>
    <p>this is the page main for about us, where you will put all infomation concerning the web page or the campany.
    this is the page main for about us, where you will put all infomation concerning the web page or the campany.
  this is the page main for about us, where you will put all infomation concerning the web page or the campany</p>
  </div>
  <div class="about-2">
    <div class="content-box-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="about-item text-center">
              <i class="fa fa-book"></i>
              <h3>MISSION</h3>
              <hr>
              <p>
                this is the page main for about us, where you will put all infomation concerning the web page or the campany
                this is the page main for about us, where you will put all infomation concerning the web page or the campany
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="about-item text-center">
              <i class="fa fa-globe"></i>
              <h3>VISSION</h3>
              <hr>
              <p>
                this is the page main for about us, where you will put all infomation concerning the web page or the campany
                this is the page main for about us, where you will put all infomation concerning the web page or the campany
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="about-item text-center">
              <i class="fa fa-pencil"></i>
              <h3>ACHIEVEMENTS</h3>
              <hr>
              <p>
                this is the page main for about us, where you will put all infomation concerning the web page or the campany
                this is the page main for about us, where you will put all infomation concerning the web page or the campany
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
</section>
<section class="about"></section>