*{
	padding: 0;
	margin: 0;
}

.about{
	background-color: rgb(128, 128, 128);
	margin: 20;
}

.about-1{
	margin:  38px;
	padding: 5px;

}

.about-1 h1{
	text-align: center;
	color:  black;
	font-weight: bold;
}

.about-1 p{
	text-align:  center;
	padding: 3px;
	color: black;
}

.about-item{

	background-color: rgb(237, 227, 227);
	padding: 80px, 30px;
	box-shadow: 0 0 9px rgba(0,0,0 .9);
	margin: 20px;
}

.about-item i{
	font-size: 43px;
	margin:  0;
}

.about-item h3{
	font-size: 25px;
	margin-bottom: 10px;
}
.about-item hr{
	width: 46px;
	height: 3px;
	background-color: #5fbff9;
	margin: 0 auto;
	border: none;

}

.about-item p{
	margin-top: 20px;
}

.about-item:hover{
	background-color: #5fbff9;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
	color: #fff;
}

.about-item:hover hr{
	background-color: #fff;
}

.about-item:hover i{
	transform: translateY(-20px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
	transition: all 400ms ease-in-out;
}