
    <div class="body text-center">
        <h3 class="lgform">Login To CMR</h3>
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="card mt-4 bg-dark">
                    <div class="card-title text-center mt-3">
                        <img src="/assets/img/6.jpg" alt="idrice">
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user fa-2x"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control py-2" placeholder="username">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-lock fa-2x"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control py-2" placeholder="password">
                            </div>
                            <button class="btn btn-success">Login Now</button>
                            <p></p><a class="float-right text-wihite" routerLinkActive="active" routerLink="/register">create an account..</a>
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </div>