<section id="start" class="start-bg mb-5 homeSet">
	<a name="top"></a>
	<div class="container">
		<div class="row justify-content-end align-items-center">
			<div class="col-md-5">
				<h1 class="text-primary mb-8">Welcome to CMR-Blog</h1>
				<p></p><h4 class="text-primary mb-6">Your First Partner.</h4>
				
			</div>
		</div>
	</div>
	
</section>

<!-- news -->
<section class="news-bg">
	<div class="bg-overlay"></div>
	<div>
		<app-blog></app-blog>
	</div>
	
</section>
<br>

<!-- products -->
<section class="products">
<app-product-items></app-product-items>
</section>

<!-- About Us -->
<section class="about-us">
	<app-about-us></app-about-us>
</section>
 <br />

<!-- contact -->
<section class="contact">
	<app-contact-form></app-contact-form>
</section>

<!-- Galleries -->
<section class="galleries">

	<div class="row photo">
		<div class="col-sm-12">gallery photos</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
		<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?people" alt="people"></div>
			<div class="text">People</div>
		</div>
	</div>

		</div>
		<div class="col-sm-4">
		<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?programming" alt="people"></div>
			<div class="text">Programming</div>
		</div>
	</div>
		</div>
		<div class="col-sm-4">
		<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?life" alt="people"></div>
			<div class="text">Life</div>
		</div>
	</div>
		</div>
		<div class="col-sm-4">
			<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?nature" alt="people"></div>
			<div class="text">Nature</div>
		</div>
	       </div>
		</div>
		<div class="col-sm-8 photo">
			<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?python" alt="people"></div>
			<div class="text">Python</div>
		</div>
	       </div>
		</div>
		<div class="col-sm-12 photo">
			<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?code" alt="people"></div>
			<div class="text">Code</div>
		</div>
	        </div>
		</div>
		<div class="col-sm-4 photo">
			<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?angular" alt="people"></div>
			<div class="text">Angular</div>
		</div>
	       </div>
		</div>
		<div class="col-sm-6">
			<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?money" alt="people"></div>
			<div class="text">Money</div>
		</div>
	</div>
		</div>
		<div class="col-sm-6">
			<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?game" alt="people"></div>
			<div class="text">Game</div>
		</div>
	</div>
		</div>
		<div class="col-sm-6">
			<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?webpage" alt="people"></div>
			<div class="text">Web page</div>
		</div>
	</div>
		</div>
		<div class="col-sm-6 photo">
			<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?computer" alt="people"></div>
			<div class="text">Computer</div>
		</div>
	       </div>
		</div>
		<div class="col-sm-6 photo">
			<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?html" alt="people"></div>
			<div class="text">HTML</div>
		</div>
	       </div>
		</div>

	</div>
</section>

<!-- teams -->
<section class="container-fluid">

 <div class="container">
 	<h1 class="heading"><span>meet</span>Our Team</h1>

 	<div class="profiles">
 		<div class="profile">
 			<img src="assets/img/6.jpg" alt="Profile" class="profile-img">
 			<h3 class="user-name">Idrice Tsafouet</h3>
 			<h5>CEO</h5>
 			<p>this is my job this is my job this is my job</p>
 		</div>
 	</div>

 	<div class="profiles">
 		<div class="profile">
 			<img src="assets/img/team1.jpg" alt="Profile" class="profile-img">
 			<h3 class="user-name">Idrice Tsafouet</h3>
 			<h5>HR Manager</h5>
 			<p>this is my job this is my job this is my job</p>
 		</div>
 	</div>

 	<div class="profiles">
 		<div class="profile">
 			<img src="assets/img/6.jpg" alt="Profile" class="profile-img">
 			<h3 class="user-name">Idrice Tsafouet</h3>
 			<h5>Project Manager</h5>
 			<p>this is my job this is my job this is my job</p>
 		</div>
 	</div>
 </div>
</section>
<section class="container-fluid"></section>

<!-- threshold is 400 by default -->
<!--<p-scrollTop styleClass="ghis-custom-scrolltop"></p-scrollTop>-->