<section id="start" class="start-bg mb-5 homeSet">
	<a name="top"></a>
	<div class="container-fluid">
		<div class="row justify-content-end align-items-center">
			<div class="col-md-5">
				<h1 class="text-primary mb-4">Welcome to CMR-Blog</h1>
				<p>Your First Partner.</p>
			</div>
		</div>
	</div>
	
</section>

<!-- news -->
<section class="d-relative news-bg">
	<div class="bg-overlay"></div>
	<div>
		<app-blog></app-blog>
	</div>
	
</section>

<!-- products -->
<section>
	<app-products></app-products>
</section>

<!-- About Us -->
<section>
	<app-about-us></app-about-us>
</section>
 <hr />

<!-- contact -->
<section class="container">
	<app-contact-form></app-contact-form>
</section>
<section>
	<app-contact></app-contact>
</section>

<!-- Galleries -->
<section>

</section>

<!-- teams -->
<section class="container-fluid">	
 <span><b>Our Team</b></span>

 <div class="row">
 	<div class="col-md-4">
 		<div class="card" style="width: 18rem">
 			<div class="card-img-top" alt="...">
 				<div class="text-center">
  					<img src="assets/img/team1.jpg" class="rounded imageClass" alt="team1.jpg">
  					<p class="card-text">Some quick text to buid on the card tilte</p>
				</div>
 			</div>
 		</div>
 	</div>
 	<div class="col-md-4">
 		<div class="card" style="width: 18rem">
 			<div class="card-img-top" alt="...">
 				<p class="card-text">Some quick text to buid on the card tilte</p>
 			</div>
 		</div>
 	</div>
 	<div class="col-md-4">
 		<div class="card" style="width: 18rem">
 			<div class="card-img-top" alt="...">
 				<p class="card-text">Some quick text to buid on the card tilte</p>
 			</div>
 		</div>
 	</div>

 </div>
</section>

<!-- threshold is 400 by default -->
<!--<p-scrollTop styleClass="ghis-custom-scrolltop"></p-scrollTop>-->