<section id="start" class="start-bg mb-5 homeSet">
	<a name="top"></a>
	<div class="container">
		<div class="row justify-content-end align-items-center">
			<div class="col-md-5">
				<h1 class="text-primary mb-8">Welcome to CMR-Blog</h1>
				<p></p><h4 class="text-primary mb-6">Your First Partner.</h4>
				
			</div>
		</div>
	</div>
	
</section>

<!-- news -->
<section class="news-bg">
	<div class="bg-overlay"></div>
	<div>
		<app-blog></app-blog>
	</div>
	
</section>
<br>

<!-- products -->
<section class="products">
<app-product-items></app-product-items>
</section>
<br>

<!-- About Us -->
<section class="about-us">
	<app-about-us></app-about-us>
</section>
 <br />

<!-- contact -->
<section class="contact">
	<app-contact-form></app-contact-form>
</section>

<!-- Galleries -->
<section class="galleries">
galleries is here
</section>

<!-- teams -->
<section class="container-fluid">

 <div class="container">
 	<h1 class="heading"><span>meet</span>Our Team</h1>

 	<div class="profiles">
 		<div class="profile">
 			<img src="assets/img/6.jpg" alt="Profile" class="profile-img">
 			<h3 class="user-name">Idrice Tsafouet</h3>
 			<h5>CEO</h5>
 			<p>this is my job this is my job this is my job</p>
 		</div>
 	</div>

 	<div class="profiles">
 		<div class="profile">
 			<img src="assets/img/team1.jpg" alt="Profile" class="profile-img">
 			<h3 class="user-name">Idrice Tsafouet</h3>
 			<h5>HR Manager</h5>
 			<p>this is my job this is my job this is my job</p>
 		</div>
 	</div>

 	<div class="profiles">
 		<div class="profile">
 			<img src="assets/img/6.jpg" alt="Profile" class="profile-img">
 			<h3 class="user-name">Idrice Tsafouet</h3>
 			<h5>Project Manager</h5>
 			<p>this is my job this is my job this is my job</p>
 		</div>
 	</div>
 </div>
</section>
<section class="container-fluid"></section>

<!-- threshold is 400 by default -->
<!--<p-scrollTop styleClass="ghis-custom-scrolltop"></p-scrollTop>-->