.imageClass{
  width: auto;
  height: 190px;
}

.homeSet{
  padding-top: 80px;
  height: 500px;
  overflow: auto;
}

p{
  text-decoration: capitalize;
  font-family: Times New Roman, Times, serif;
  color:yellow;
}
