<section>
<p>BLOG DETAILS PAGE</p>

<div>Post Details</div>
<div>
	<div class="details">
		<div class="img"><img src="assets/img/6.jpg"></div>
		<div class="infoDet">
			<div class="info">
				<div><i class="fa fa-triangle">info1</i>:"info".</div>
				<div><i class="fa fa-triangle">Published Date</i>:"info".</div>
				<div><i class="fa fa-triangle">info2</i>:"info".</div>
			</div>
			<div>
				<h2>This is header/title</h2>
				<p>Info details over and over Info details over and over Info details over and over Info details over and over Info details over and overv Info details over and over Info details over and over Info details over and over Info details over and over Info details over and over Info details over and over</p>
			</div>
		</div>
	</div>


	<div class="moreInfo">
		<div class="listInfo"><h3>ListInfo</h3>
			<ul>
				<li>School Management System (SMS)</li>
				<li>MNS237</li>
				<li>App Meeting</li>
				<li>Mentee/Mentor App</li>
				<li>Bank Management System (BMS)</li>
				<li>Idrice web Site</li>
			</ul>
		</div>

		<div class="newapp"><h3>New App</h3>
			<img src="assets/img/bg10.jpg">
			<p>Name && Title of Message</p>
			<div><i class="fa fa-cogs">info:</i>MSG</div>
		</div>
		<div class="morelink">
			<h3>More Links</h3>
			<ul>
				<li>
					<i class="fa fa-cogs"></i>
					<span>Info link here...</span>
				</li>
				<li>
					<i class="fa fa-globe"></i>
					<span>Info link here...</span>
				</li>
				<li>
					<i class="fa fa-user"></i>
					<span>Info link here...</span>
				</li>
			</ul>
		</div>
	</div>
</div>
</section>

<!-- comment section -->
<!--<section>
	here we will have the comment side!!!!!!!!!!!!!!!!!!
</section>-->