.body{
	margin: 15px;
	padding: 0;
	text-align: center;
}
.container{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 10px 30px;
	grid-gap: 10px;
}

.gallery-container{
	grid-gap: 10px; 
	grid-columns: 3/ span 6;
}

.gallery-item{
	width: 100%;
	height: 100%;
	position: relative;
}

.gallery-item .image{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery-item .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.gallery-item .image img{
	transform: scale(1.50);
}

.gallery-item .text{
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;transform: translate(-50%, -50%);
	color: #fff;
	font-size: 25px;
	pointer-events: none;
	z-index: 4;
	transition: .3s ease-in-out;
	-webkit-backdrop-filter:  blue(5px) saturate(1.8);
	backdrop-filter:  blue(5px) saturate(1.8);
}

.gallery-item:hover .text{
	opacity: 1;
	animation: move-down .3s linear;
	padding: 1em;
	width: 100%;
	outline: 2px solid blue;

}

.w-3{
	grid-column: span 3 ;
}

.h-2{
	grid-row: span 2 ;
}



@keyframes move-down{
	0%{
		top: 10px;
	}
	50%{
		top: 35px;
	}
	100%{
		top: 50px;
	}
}