<div class="body">
	<h1>CSS Grid Gallery</h1>
<div claas="g-container">
	<div class="gallery-container w-3 h-2">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?people" alt="people"></div>
			<div class="text">People</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?money" alt="people"></div>
			<div class="text">Money</div>
		</div>
	</div>
	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?wife" alt="people"></div>
			<div class="text">Wife</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?people" alt="people"></div>
		<div class="text">People</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?school" alt="people"></div>
			<div class="text">School</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?computer" alt="people"></div>
			<div class="text">Computer</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?cars" alt="people"></div>
			<div class="text">Cars</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?life" alt="people"></div>
			<div class="text">life</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?food" alt="people"></div>
			<div class="text">Food</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?book" alt="people"></div>
			<div class="text">Book</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?sport" alt="sport"></div>
			<div class="text">Sport</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?nature" alt="people"></div>
			<div class="text">nature</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?IT" alt="people"></div>
			<div class="text">IT</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?children" alt="people"></div>
			<div class="text">Children</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?electricity" alt="people"></div>
			<div class="text">Electricity</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?cameroon" alt="people"></div>
			<div class="text">Cameroon</div>
		</div>
	</div>

	<div class="gallery-container">
		<div class="gallery-item">
			<div class="image"><img src="https://source.unsplash.com/1600x900/?douala" alt="people"></div>
			<div class="text">Douala</div>
		</div>
	</div>

</div>
</div>