<section>
    this is for the main landding page for product
</section>

<section>
    <div class="card">
        <img src="assets/img/watch.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Android Watch</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLinkAactive="active" routerLink="/products/product/id" class="btn btn-primary">View  Item</a>
         <b><i style="margin: 1px;"></i>Price <span>258 fcfa</span><br></b>
          <a routerLinkAactive="active" routerLink="" class="btn btn-secondary"><i class="fab fa-bitbucket" style="margin: 1px"></i>Add to Pin Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/watch.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLinkAactive="active" routerLink="/products/product/id" class="btn btn-primary">Go somewhere</a>
          Price <span>258 fcfa</span>
          <a routerLinkAactive="active" routerLink="" class="btn btn-secondary"><i class="fab fa-bitbucket"></i>Add to Pin Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/watch.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLinkAactive="active" routerLink="/products/product/id" class="btn btn-primary">Go somewhere</a>
          Price <span>258 fcfa</span>
          <a routerLinkAactive="active" routerLink="" class="btn btn-secondary"><i class="fab fa-bitbucket"></i>Add to Pin Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/watch.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLinkAactive="active" routerLink="/products/product/id" class="btn btn-primary">Go somewhere</a>
          <b><i>  </i>Price <span>258 fcfa</span><br></b>
          <a routerLinkAactive="active" routerLink="" class="btn btn-secondary"><i class="fab fa-bitbucket"></i>Add to Pin Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/watch.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLinkAactive="active" routerLink="/products/product/id" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/watch.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/watch.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLinkAactive="active" routerLink="/products/product/id" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/watch.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLinkAactive="active" routerLink="/products/product/id" class="btn btn-primary">View</a>
          <i class="chart"></i><a routerLinkAactive="active" routerLink="" class="btn btn-secondary">View</a>
        </div>
      </div>
</section>
<section></section>