<form action="#" post="#" class="formStyle">
	<div class="row">
		<div class="col-md-4">
			<label for="first name">First name</label>
			<input type="text" class="form-control" aria-label="First Name">
			<label for="last name">Last name</label>
			<input type="text" class="form-control" aria-label="Last Name">
			<label for="email">Email</label>
			<input type="email" class="form-control" aria-label="Enter your Email">
			<label for="city">City</label>
			<input type="text" class="form-control" aria-label="Enter Your City">
		</div>

	<div class="col-md-4 " >
			<label for="exampleFormControleTextarea1" class="form-label">Example textarea</label>
			<textarea class="form-control textArea" id="exampleFormControleTextarea1" row="12"></textarea>
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<button type="button" class="btn btn-primary">Submit</button>
	</div>
</div>
</form>